<nav class="navbar navbar-expand navbar-dark bg-primary px-2">

    <div class="side-nav-button p-2 me-3 text-light">
        <i class="fa-solid fa-bars"></i>
    </div>

    <p>
        06:42
    </p>

    <a class="navbar-brand px-4" href="#">Orange Systems</a>
    
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data></a>
            </li>
        </ul>

    </div>

</nav>